# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/

# Custom
x64/
IdsEditor/GeneratedFiles/
IdsEditor/debug/
methods.txt
Todo.txt
Sql/srv_msp.c
Sql/tstCreateBizDB.sql
Sql/tstShowTables.sql
Sql/FullBiz.db
*(copy)*
*.bak
Proxy/Packages/TempTest/Weather
Proxy/Packages/TempTest/MailTest
Sql/Upsert.txt
Sql/CreateBizDB.sql.213
Sql/CreateBizDB.sql.saved
run/readme
Sql/BizRules.db
build/
run
Proxy/Packages/TempTest/ShowTables.sql
Proxy/Packages/TempTest/srv_msp.c
Proxy/Packages/TempTest/srv_msp_body.c
Proxy/Packages/TempTest/srv_msp_body.h
Sql/NoUsers.db
libs/
Sql/OneRule.db
Proxy/MSP
Proxy/Packages/install/c-icap.conf.tmp
*.Plo
Packages
BizRules.cfg
BizRules.db
Sql/avBizRules.db
msspeak
srv_msp.log
MultiSpeaker.VC.db
MultiSpeaker.pro.user.2652adc
MultiSpeaker/GeneratedFiles/
MultiSpeakerServer/GeneratedFiles/
Sql/BizRules (for install).db

