# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/

# Custom
x64/
IdsEditor/GeneratedFiles/
IdsEditor/debug/
methods.txt
Todo.txt
Sql/srv_msp.c
Sql/tstCreateBizDB.sql
Sql/tstShowTables.sql
Sql/FullBiz.db
*(copy)*
*.bak
Proxy/Packages/TempTest/Weather
Proxy/Packages/TempTest/MailTest
Sql/Upsert.txt
Sql/CreateBizDB.sql.213
Sql/CreateBizDB.sql.saved
run/readme
