#
# build with:
#  openssl req -config mss.config -new -x509 -sha256 -newkey rsa:2048 -nodes -keyout mss.key -days 365 -out mss.crt
#
# openssl x509 -text -in mss.crt > mss.crt.info

# 'Server Alternate Names', or SANs
# SAN stands for 'Subject Alternative Names' 
#         helps you to have a single certificate for multiple CN (Common Name).

[req]
distinguished_name = req_distinguished_name
req_extensions  = req_ext
x509_extensions = x509_ext
prompt = no

[req_distinguished_name]
C = US
ST = WA
L = Richland
O = Pacific Northwest National Laboratory
OU = EED
CN = multispeaker.server.org
emailAddress = carl.miller@pnnl.gov

[req_ext]
subjectKeyIdentifier = hash

[x509_ext]
subjectKeyIdentifier = hash
authorityKeyIdentifier  = keyid,issuer
basicConstraints    = critical, CA:TRUE

subjectAltName = @alt_names

[alt_names]
DNS.1 = multispeaker.server.org
DNS.2 = *.pnl.gov
DNS.3  = pnnl.gov
DNS.4 = *.pnnl.gov

# Add these if you need them. But usually you don't want them or
#   need them in production. You may need them for development.
DNS.5 = localhost
DNS.6 = localhost.localdomain
DNS.7 = 127.0.0.1

# IPv6 localhost
DNS.8 = ::1
DNS.9 = fe80::1

# IPv4 localhost
IP.1 = 127.0.0.1

# IPv6 localhost
IP.2 = ::1

IP.3 = 130.20.113.7

